// Header Starts
header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  background-color: white;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  transition: all 0.5s ease;
  padding: 21px 60px;

  &__menu {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__list {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    gap: 2.5rem;

    & li a {

      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-weight: 500;
      transition: all 0.8s ease;
      color: var(--text-black);

      span {
        &:hover {
          color: var(--text-orange);

        }
      }

      &:hover {
        color: var(--text-orange);
      }
    }

    & li .arrow {
      transition: 0.3s ease;

      &.up {
        transform: rotate(180deg);
      }
    }

    &-drop {
      display: inline-block;
      position: relative;

      &-menu {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        flex-direction: column;
        gap: 1rem;
        padding: 1.5rem;
        background-color: white;
        border-radius: 8px;
        z-index: 999;
        pointer-events: none;
        transition: all 0.6s ease-in-out;

        li {
          margin-bottom: 10px;
        }

        &.open {
          // display: flex;
          opacity: 1;
          visibility: visible;
          pointer-events: all;
        }

        &.features {
          right: 0;
        }

        &.company {
          left: 0;
          width: max-content;
        }
      }
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }

  & .menu {
    display: none;
    float: left;
    transition: all 275ms ease;
    cursor: pointer;

    & span {
      display: block;
      width: 22px;
      height: 4px;
      background: #000000;
      margin-bottom: 2px;
      border-radius: 1px;
      transition: all 275ms ease;
    }

    &.active {
      transform: rotate(-45deg);

      .bar1 {
        transform: rotate(0deg) translateY(6px);
      }

      .bar2 {
        opacity: 0;
      }

      .bar3 {
        transform: rotate(-90deg) translateX(5px);
      }
    }
  }
}
// Header Ends
// Footer Starts
.footer{
  .single-area{
    margin-left: 32px;
  }
  &__iconbox{
    a{
      @include box(28px);
    }
    .insta{
      background-color: #C7981F;
    }
    .facebook{
      background-color: #4084C3;
    }
    .print{
      background-color: #EC3E3E;
    }
    .linkdin{
      background-color: #4084C3;
    }
  }
}
// Footer Ends