// Banner Section Styles
.hero-area {
    background-image: url("../images/hero-banner.png"), url("../images/logo.png");
    background-repeat: no-repeat;
    background-size: cover, auto;
    background-position: center, bottom left;
    position: relative;
    background-color: white;

    .left-popup {
        a {
            .play-btn {
                animation: pulse-border 3s linear infinite;
            }
        }
    }

    .hero-svg {
        fill: white;
    }
}
// Banner Section Style Ends
// About Section Style Starts
.aboutus {
    &__right {
        &-top {
            color: var(--text-green);
            font-weight: 500;
        }

        h2 {
            font-weight: 600;
        }

    }

    &__item {
        &-right {
            img {
                max-width: fit-content;
            }
        }
    }

    &__left {
        &-count {
            background-color: var(--text-green);
            top: 0;
            right: 0%;

            .count-number {
                font-size: 80px;
                color: var(--text-green);
                text-shadow: -1px 1px 0 #fff,
                    1px 1px 0 #fff,
                    1px -1px 0 #fff,
                    -1px -1px 0 #fff;

                span {
                    font-size: inherit;
                    font-weight: inherit;
                }
            }

        }
    }

    &__certified {
        padding: 40px;

        &-right {
            img {
                max-width: 100px;
                min-width: 50px;
            }
        }
    }
}
// About Section Style Ends
// Service Section Style Starts
.services {
    &__heading {
        &-top {
            color: var(--text-green);
        }
    }

    &__card {
        border-radius: 6px;
        border: 1px solid var(--st, #E9E9E9);
        background: #FFF;
        padding: 32px;
        transition: 0.3s ease-in-out;
        height: 100%;

        &-right {
            @include box(60px);
            background-color: var(--text-orange);
        }

        &-left {
            a {
                color: var(--text-green);
            }
        }

        &:hover {
            transition: 0.3s ease-in-out;
            background: #FFF7F5;
            box-shadow: 0px 1px 3px 0px rgba(58, 58, 58, 0.05), 0px 1px 2px 0px rgba(58, 58, 58, 0.08);
        }

        &:hover &-left a {
            color: var(--text-orange);
        }

        .web-icon {
            background-color: #CE44FF;
        }

        .soft-icon {
            background-color: var(--text-green);
        }

        .anal-icon {
            background-color: #FFBB0B;
        }

        .cart-icon {
            background-color: #0D8BFF;
        }

        .security-icon {
            background-color: #7C41FB;
        }
    }
}
// Service Section Style Ends
// Digital World Section Starts
.dlwd {
    background-color: #FFF7F5;
}
// Digital World Section Ends
// Call to Action Section Starts
.calltoaction {
    background-image: url("../images/call-to-action-banner.png");

    &__right {
        &-top {
            color: var(--text-black);
        }
    }

    &__left {
        background-image: url("../images/call-to-action-play.png");
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;

        .video {
            .play-btn {
                animation: pulse-border 3s linear infinite;
            }
        }
    }
}
// Call to Action Section Ends
// Counter Section Starts
.counter {
    background-image: url("../images/coun-down.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &__banner {
        background-image: url("../images/counter-banner.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding: 56px 0;
    }

    &__item {



        h2 {
            color: var(--text-green);
        }

        span {
            color: var(--text-black);
        }
    }

    &__countdown {
        .count-down {
            font-size: 40px;
            color: var(--text-green) !important;

            span {
                font-size: inherit;
                font-weight: inherit;
                color: inherit;
            }
        }

        .odometer {}
    }

    .bstyel {
        border-right: 1px solid red;
        margin-right: -10px;
    }
}
// Counter Section Ends
// Testimonial Section Starts
.testimonial {
    &__heading {
        &-top {
            color: var(--text-green);
        }
    }

    &__slider {
        margin: -12px 0;

        .slick-slide {
            padding: 12px 12px;
        }
    }

    &__item {
        padding: 32px 24px 40px 24px;
        border: 1px solid #E9E9E9;
        background: #FFF;
        transition: 0.3s linear;

        &:hover {
            border: 1px solid #F66135;
            box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.25) !important;
        }

        &-thumb {
            img {
                @include box(94px);
                margin: 0 auto;
            }
        }

        &-name {
            color: var(--text-black);
        }

        .icon-box {
            span {
                color: var(--text-orange);
                fill: #F66135;
                cursor: pointer;
            }
        }

        p {
            font-style: italic;
        }
    }
}
// Testimonial Section Ends
// Gallery Section Starts
.gallery {
    background: #F8F7F6;

    &__heading {
        &-top {
            color: var(--text-green);
        }
    }

    &__item {
        position: relative;

        img {
            width: 100%;
        }

        &-number {
            height: 37px;
            width: 56px;
            background: #fff;
            border-radius: 30px;
            text-align: center;
            position: absolute;
            top: 10px;
            left: 10px;
        }
    }
}
// Gallery Section Ends
// Team Members Section Starts
.members {
    &__heading {
        &-top {
            color: var(--text-green);
        }
    }

    &__item {
        &-name {
            color: var(--text-black);
        }

        &-position {
            color: var(--text-green);
        }
    }
}
// Team Members Section Ends
// Our Blog section starts
.ourblog {
    background: #F8F7F6;

    &__item {
        background: var(--primary-white, #FFF);
        box-shadow: 0px 4px 6px 0px rgba(58, 58, 58, 0.06), 0px 2px 4px 0px rgba(58, 58, 58, 0.08);
        height: 100%;
        &-thumb{
            img{
                width: 100%;
            }
        }
    }

    &__heading {
        &-top {
            color: var(--text-green);
        }
    }

    &__datetime {
        width: 122px;
        height: 37px;
        padding: 8px 20px;
        background: #fff;
        border-radius: 30px;
        text-align: center;
        position: absolute;
        top: 15px;
        left: 15px;
        &-date {
            color: var(--text-black);
        }
    }

    &__textcontent {
        padding: 20px;
    }

    &__icon {
        cursor: pointer;
        img {
            height: 16px;
            width: 16px;
        }

        span {
            color: var(--text-black);
        }
    }

    &__read {
        color: var(--text-green);
    }
}
// Our Blog section ends
// Responsive Starts
@media (max-width: 1799px) {
    .dlwd {
        &__left {
            img {
                width: 100%;
            }
        }
    }

    .dlwd {

        padding: 120px 0;
    }

}

@media (max-width: 1699px) {
    .aboutus {
        &__left {
            &-count {
                .count-number {
                    font-size: 48px;
                }
            }
        }
    }
}

@media (max-width: 1599px) {}

@media (max-width: 1499px) {}

@media (max-width: 1399px) {
    .aboutus {
        &__certified {
            padding: 20px;

            &-right {
                img {
                    width: 70px;
                }
            }
        }
    }

    // Counter Section Starts
    .counter {
        .bstyel {
            border-right: none;
            margin-right: 0px;
        }
    }

    // Counter Section Ends
}

@media (max-width: 1199px) {
    .aboutus {
        &__left {
            &-count {
                .count-number {
                    font-size: 40px;
                }
            }
        }
    }

    // Digital World Section
    .dlwd {
        padding: 70px 0;
    }
}

@media (max-width: 991px) {

    // Digital World Section Start Here
    .dlwd {
        &__left {
            img {
                width: 100%;
            }
        }
    }

    // Digital World Section Ends Here
    // Call to Action Section Starts
    .calltoaction {
        &__left {
            height: 300px;
        }
    }

    // Call to Action Section Ends
    // Counter Section Starts
    .counter {
        &__countdown {
            .count-down {
                font-size: 32px;
            }
        }
    }

    // Counter Section Ends
}

@media (max-width: 767px) {}

@media (max-width: 575px) {

    // about section starts here
    .aboutus {
        &__certified {
            padding: 10px;
            text-align: center;

            &-right {
                img {
                    width: 60px;
                }
            }
        }
    }

    // about section Ends here
    // Digital World Section Starts
    .dlwd {
        padding: 50px 0;

    }

    // Digital World Section Ends
    // Call to Action Section Starts
    .calltoaction {
        &__left {
            height: 200px;
        }
    }

    // Call to Action Section Ends
    // Counter Section Starts
    .counter {
        &__countdown {
            .count-down {
                font-size: 28px;
            }
        }
    }

    // Counter Section Ends
}

@media (max-width: 480px) {

    // Testimonial Section Starts
    .testimonial {
        &__slider {
            margin: -12px 0;

            .slick-slide {
                padding: 12px 12px;
            }
        }

        &__item {
            padding: 16px 12px 20px 12px;
            border: 1px solid #E9E9E9;
            background: #FFF;
            transition: 0.3s linear;

            &-thumb {
                img {
                    @include box(60px);
                }
            }

        }
    }

    // Testimonial Section Ends
}