.details {
    &__select {
        &-item {
            .icon-select {
                @include box(16px);
                background-color: var(--text-green);
                padding: 5px;

                span {
                    color: white;
                }
            }

            .select-title {
                color: var(--text-black);
            }
        }
    }

    &__list {
        span {
            color: var(--text-green);
        }
    }

    &__extra {
        span {
            width: 75px;
            height: 3px;
            border-radius: 0px 0px 3px 3px;
            background: #16A87A;
        }
    }

    &__listn {
        span {
            color: var(--text-black);
        }
    }

    &__rightpart {
        overflow-y: auto;
        position: sticky !important;
        overflow-x: hidden;
        max-height: 90vh;
        top: 120px;
    }
}
.ourbg{
    background-color: #F8F7F6;
}
// Responsive styles
@media (max-width: 1799px) {}
@media (max-width: 1699px) {}
@media (max-width: 1599px) {}
@media (max-width: 1499px) {}
@media (max-width: 1399px) {}
@media (max-width: 1199px) {
    .details {
        &__extra {
            span {
                width: 60px;
                height: 3px;
            }
        }
    }
}
@media (max-width: 991px) {
    .details {
        overflow: hidden;
        &__extra {
            span {
                width: 50px;
                height: 3px;
            }
        }
        &__rightpart{
            position: absolute;
            z-index: 2;
            right: 0;
            top: 0;
            overflow: initial;
        }

        &__left {
            // display: none;
            border-radius: 10px;
            overflow-y: auto;
            background-color: white;
            position: absolute;
            overflow-x: hidden;
            padding: 10px;
            right: 0;
            transform: translateX(100%);
            transition: 0.5s;
            padding-bottom: 50px;
            width: 300px;
            max-height: 60vh;
            // top: 200px;
            z-index: 999 !important;
            opacity: 0;
            &.show {
                //   display: block;
                transform: translateX(0%);
                transition: 0.5s;
                opacity: 1;
            }
        }
        &__hide{
            // position: absolute;
            top: 190px;
            z-index: 999;
            top: 0;
            .none_two{
                padding: 8px 15px !important;
            }
        }
    }

}
@media (max-width: 767px) {}

@media (max-width: 575px) {}

@media (max-width: 480px) {}