:root {
  --body-font: 'Inter', sans-serif;

  --transition: 0.35s linear;

  --primary-color: #0084ff;
  --secondary-color: #3fca90;

  --pc-one: #39B54A;
  --pc-two: #07312F;
  --pc-three: #DB0;
  --pc-four: #E7893C;
  --pc-five: #002F47;
  --primary-text-clr: #6E7486;
  --text-black: #2B2220;
  --text-orange: #F66135;
  --text-green: #16A87A;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: var(--body-font);
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 150%;
  color: var(--primary-text-clr);
  background: #fff;
  overflow-x: hidden;
  box-sizing: border-box;
  position: relative;
}

// Scroll bar Style Starts
/* width */
::-webkit-scrollbar {
  width: 2px;
  background: rgba(83, 154, 178, 0.05);
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(83, 154, 178, 0.05);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #3e90f0;
  border: 2px solid #3e90f0;
}

// Scroll bar Style Ends

// Back to top Up Starts

$color_1: #fff;
$font-family_1: FontAwesome;
$background-color_1: #F66135;
$background-color_2: #16A87A;
$background-color_3: #F66135;

#backtotopup {
	display: inline-block;
	background-color: $background-color_1;
	width: 50px;
	height: 50px;
	text-align: center;
	border-radius: 4px;
	position: fixed;
	bottom: 30px;
	right: 30px;
	transition: background-color .6s, opacity .5s, visibility .5s;
	opacity: 0;
  transition: 0.3 linear;
	visibility: hidden;
	z-index: 1000;
	&::after {
		content: "\f077";
		font-family: $font-family_1;
		font-weight: normal;
		font-style: normal;
		font-size: 2em;
		line-height: 50px;
		color: $color_1;
	}
	&:hover {
		cursor: pointer;
		background-color: $background-color_2;
	}
	&:active {
		background-color: $background-color_3;
	}
}
#backtotopup.show {
	opacity: 1;
	visibility: visible;
}

// Back to top Up Ends

// Display Fonts size
.display1 {
  font-size: 80px;
  line-height: 120%;
}

.display2 {
  font-size: 72px;
  line-height: 120%;
}

.display3 {
  font-size: 64px;
  line-height: 120%;
}

.display4 {
  font-size: 56px;
  line-height: 120%;
}

// Font weight
.fw1 {
  font-weight: 100;
}

.fw2 {
  font-weight: 200;
}

.fw3 {
  font-weight: 300;
}

.fw4 {
  font-weight: 400;
}

.fw5 {
  font-weight: 500;
}

.fw6 {
  font-weight: 600;
}

.fw7 {
  font-weight: 700;
}

.fw8 {
  font-weight: 800;
}

.fw9 {
  font-weight: 900;
}


//typography
.f-one,
h1,
h1>a {
  font-size: 48px;
  line-height: 120%;
}

.f-two,
h2,
h2>a {
  font-size: 40px;
  line-height: 120%;
}

.f-three,
h3,
h3>a {
  font-size: 32px;
  line-height: 120%;
}

.f-four,
h4,
h4>a {
  font-size: 24px;
  line-height: 130%;
}

.f-five,
h5,
h5>a {
  font-size: 20px;
  line-height: 130%;
}

.f-six,
h6,
h6>a {
  font-size: 16px;
  line-height: 130%;
}

a,
p,
span,
label,
li {
  font-size: 16px;
  line-height: 150%;
}

.f24 {
  font-size: 24px;
  line-height: 150%;
}

.f20 {
  font-size: 20px;
  line-height: 150%;
}

.f18 {
  font-size: 18px;
  line-height: 150%;
}

.f14 {
  font-size: 14px;
  line-height: 150%;
}

.f12 {
  font-size: 12px;
  line-height: 150%;
}

.f10 {
  font-size: 10px;
  line-height: 150%;
}

span {
  display: inline-block;
}

h1,
h1>a,
h2,
h2>a,
h3,
h3>a,
h4,
h4>a,
h5,
h5>a,
h6,
h6>a {
  color: var(--text-black);
  font-weight: 600;
  padding: 0;
  margin: 0;
  display: block;
  transition: all 0.3s;

  span {
    font-size: inherit;
    font-family: inherit;
    color: var(--text-orange);
    line-height: inherit;
    font-weight: inherit;
  }
}


h6,
h5,
h4,
h3,
h2,
h1 {
  margin: 0;
  padding: 0;
  color: var(--text-black);
  font-weight: 600;

  span {
    font-size: inherit;
    line-height: inherit;
    color: var(--text-orange);
  }
}

a {
  text-decoration: none;
  outline: none;
  transition: 0.3s;
  color: var(--primary-text-clr);

  &:focus,
  &:hover {
    text-decoration: none;
    outline: none;
  }
}

a,
p,
span,
label,
li {
  margin: 0;
  font-size: 16px;
  line-height: 150%;
}

.d-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-start {
  display: flex;
  justify-content: start;
  align-items: center;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;

  li {
    font-size: inherit;
  }
}

input,
textarea {
  padding: 20px 16px 20px 16px;
  color: var(--primary-text-clr);
  width: 100%;
  font-family: var(--body-font);
  font-size: 16px;
  background-color: inherit;

  &::placeholder {
    color: var(--primary-text-clr);
    font-size: 16px;
    line-height: 150%;
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.m-point {
  cursor: pointer;
}

.gape {
  row-gap: 24px;
}

p select {
  padding: 20px 16px 20px 16px;
  cursor: pointer;
  outline: none;
}

span {
  display: inline-block;
}

.b-none {
  border: none !important;
}

iframe {
  border: 0;
  width: 100%;
}

// margin Top

.mt8 {
  margin-top: 8px;
}

.mt10 {
  margin-top: 10px;
}

.mt16 {
  margin-top: 16px;
}

.mt20 {
  margin-top: 20px;
}

.mt28 {
  margin-top: 28px;
}

.mt30 {
  margin-top: 30px;
}

.mt40 {
  margin-top: 40px;
}

.mt50 {
  margin-top: 50px;
}

.mt60 {
  margin-top: 60px;
}

.mt70 {
  margin-top: 70px;
}

// Margin Bottom

.mb8 {
  margin-bottom: 8px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb16 {
  margin-bottom: 16px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb28 {
  margin-bottom: 28px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb50 {
  margin-bottom: 50px;
}

.mb60 {
  margin-bottom: 60px;
}

.mb70 {
  margin-bottom: 70px;
}

img {
  max-width: 100%;
  height: auto;
}

.max-un {
  max-width: unset;
}

.max100 {
  width: 100%;
}

.d-rtl {
  direction: rtl;
}

.d-ltr {
  direction: ltr;
}

// Preloader Starts

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 9999;
  overflow: visible;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #212121;
}

.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: #F66135;
  position: relative;
}

.loader:before,
.loader:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}

.loader:after {
  color: #16A87A;
  transform: rotateY(70deg);
  animation-delay: .4s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {

  0%,
  100% {
    box-shadow: .2em 0px 0 0px currentcolor;
  }

  12% {
    box-shadow: .2em .2em 0 0 currentcolor;
  }

  25% {
    box-shadow: 0 .2em 0 0px currentcolor;
  }

  37% {
    box-shadow: -.2em .2em 0 0 currentcolor;
  }

  50% {
    box-shadow: -.2em 0 0 0 currentcolor;
  }

  62% {
    box-shadow: -.2em -.2em 0 0 currentcolor;
  }

  75% {
    box-shadow: 0px -.2em 0 0 currentcolor;
  }

  87% {
    box-shadow: .2em -.2em 0 0 currentcolor;
  }
}

// Preloader Ends

// Animation Starts
@keyframes previewShapeY {
  0% {
    transform: translateY(10px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(10px);
  }
}

@keyframes previewShapeFade {
  0% {
    transform: scale(0.9);
  }

  50% {
    transform: scale(1) rotate(15deg);
  }

  100% {
    transform: scale(0.9);
  }
}

// Animation Ends
// Section Paddings
.padding-top {
  padding-top: 120px;
}

.padding-bottom {
  padding-bottom: 120px;
}

.padding-top-bottom {
  padding: 120px 0px;
}

.pd-hero-top {
  padding-top: 96px;
}
.pd60{
  padding: 60px 110px;
}

// Responsive Starts
// Button Styles
.button-header {
  padding: 16px 28px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  text-align: center;
  font-weight: 500;
  color: #000;
  text-decoration: none;
  transition: all 0.35s;
  box-sizing: border-box;
  background-color: #16A87A;
  $btn-color: #F66135;
  color: white;
  transition: 0.8s linear;
  &:hover {
    color: #fff;
    transition-delay: 0.2s;
    animation: ani500 0.6s forwards;
    background: radial-gradient(circle, $btn-color 0.2em, transparent 0.3em) 6em 6em/1em 1em,
      radial-gradient(circle, $btn-color 0.2em, transparent 0.3em) 0 0/1em 1em;
      
  }
  @keyframes ani500 {
    100% {
      background-size: 2.375em 2.375em, 0.1em 0.1em;
    }
  }
}

.button1 {
  padding: 15px 30px;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #35F6A5;
  border-right: 1px solid #35F6A5;
  border-bottom: 3px solid #35F6A5;
  border-left: 3px solid #35F6A5;
  border-radius: 40px;
  text-align: center;
  color: #000;
  text-decoration: none;
  transition: all 0.35s;
  box-sizing: border-box;
  $btn-color: #F66135;
  border-color: #35F6A5;
  color: white;

  &:hover {
    border-top: 1px solid #F66135;
    border-right: 1px solid #F66135;
    border-bottom: 3px solid #F66135;
    border-left: 3px solid #F66135;
    color: #fff;
    transition-delay: 0.2s;
    animation: ani500 0.6s forwards;
    background: radial-gradient(circle, $btn-color 0.2em, transparent 0.3em) 6em 6em/1em 1em,
      radial-gradient(circle, $btn-color 0.2em, transparent 0.3em) 0 0/1em 1em;
  }
  @keyframes ani500 {
    100% {
      background-size: 2.375em 2.375em, 0.1em 0.1em;
    }
  }
}

.button2 {
  padding: 15px 30px;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #F66135;
  border-right: 1px solid #F66135;
  border-bottom: 3px solid #F66135;
  border-left: 3px solid #F66135;
  border-radius: 40px;
  background-color: #F66135;
  text-align: center;
  transition: all 0.35s;
  box-sizing: border-box;
  $btn-color: #16A87A;
  border-color: #F66135;
  color: white;

  &:hover {
    border-top: 1px solid #16A87A;
    border-right: 1px solid #16A87A;
    border-bottom: 3px solid #16A87A;
    border-left: 3px solid #16A87A;
    color: white;
    transition-delay: 0.2s;
    animation: ani500 0.6s forwards;
    background: radial-gradient(circle, $btn-color 0.2em, transparent 0.3em) 6em 6em/1em 1em,
      radial-gradient(circle, $btn-color 0.2em, transparent 0.3em) 0 0/1em 1em;
  }
  @keyframes ani500 {
    100% {
      background-size: 2.375em 2.375em, 0.1em 0.1em;
    }
  }
}
.button3 {
  padding: 12px 30px;
  justify-content: center;
  align-items: center;
  background-color: #F66135;
  text-align: center;
  transition: all 0.35s;
  box-sizing: border-box;
  $btn-color: #16A87A;
  color: white;

  &:hover {
    color: white;
    transition-delay: 0.2s;
    animation: ani500 0.6s forwards;
    background: radial-gradient(circle, $btn-color 0.2em, transparent 0.3em) 6em 6em/1em 1em,
      radial-gradient(circle, $btn-color 0.2em, transparent 0.3em) 0 0/1em 1em;
  }
  @keyframes ani500 {
    100% {
      background-size: 2.375em 2.375em, 0.1em 0.1em;
    }
  }
}
.play-btn {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  background: rgb(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  // cursor: pointer;
  @media (max-width:575px) {
    width: 40px;
    height: 40px;
  }
  &:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background: rgb(var(--n3));
    border-radius: 50%;
    animation: pulse-border 1500ms ease-out infinite;
    z-index: -1;
    @media (max-width:575px) {
      width: 40px;
      height: 40px;
    }
  }
//   &:after {
//     content: "";
//     position: absolute;
//     left: 50%;
//     top: 50%;
//     transform: translate(-50%, -50%);
//     width: 50px;
//     height: 50px;
//     background: var(--n3);
//     border-radius: 50%;
//     animation: pulse-border 1500ms ease-out infinite;
//     z-index: -1;
// }
}
// pulse border
@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.8);
    opacity: 0;
  }
}




@media (max-width: 1920px) {}

@media (max-width: 1799px) {}

@media (max-width: 1699px) {}

@media (max-width: 1499px) {}

@media (max-width: 1399px) {}

@media (max-width: 1199px) {
  .f24 {
    font-size: 20px;
    line-height: 150%;
  }
}
@media (max-width: 991px) {

  //typography
  .display1 {
    font-size: 72px;
    line-height: 120%;
  }

  .display2 {
    font-size: 64px;
    line-height: 120%;
  }

  .display3 {
    font-size: 56px;
    line-height: 120%;
  }

  .display4 {
    font-size: 48px;
    line-height: 120%;
  }

  .fs-one,
  h1,
  h1>a {
    font-size: 40px;
    line-height: 120%;
  }

  .fs-two,
  h2,
  h2>a {
    font-size: 32px;
    line-height: 120%;
  }

  .fs-three,
  h3,
  h3>a {
    font-size: 24px;
    line-height: 130%;
  }

  .fs-four,
  h4,
  h4>a {
    font-size: 20px;
    line-height: 130%;
  }

  .fs-five,
  h5,
  h5>a {
    font-size: 16px;
    line-height: 130%;
  }

  .fs-six,
  h6,
  h6>a {
    font-size: 15px;
    line-height: 130%;
  }

  a,
  p,
  span,
  label,
  li {
    margin: 0;
    font-size: 14px;
    line-height: 150%;
  }

  .f24 {
    font-size: 18px;
    line-height: 150%;
  }

  .f20 {
    font-size: 16px;
    line-height: 150%;
  }

  .f18 {
    font-size: 16px;
    line-height: 150%;
  }

  .f14 {
    font-size: 12px;
    line-height: 150%;
  }

  span {
    font-size: 14px;
    line-height: 150%;
  }

  // Section Paddings

  .padding-top {
    padding-top: 70px;
  }

  .padding-bottom {
    padding-bottom: 70px;
  }

  .padding-top-bottom {
    padding: 70px 0px;
  }
  .pd60{
    padding: 40px 60px;
  }

  .button-header{
    padding: 10px 20px;
  }
  .button1 {
    padding: 10px 20px;
  }
  .button2 {
    padding: 10px 20px;
  }
  .button3 {
    padding: 10px 20px;
  }
  .play-btn {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background: rgb(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    // cursor: pointer;
    @media (max-width:575px) {
      width: 50px;
      height: 50px;
    }
    &:before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 50px;
      height: 50px;
      background: rgb(var(--n3));
      border-radius: 50%;
      animation: pulse-border 1500ms ease-out infinite;
      z-index: -1;
      @media (max-width:575px) {
        width: 40px;
        height: 40px;
      }
    }
  }
  .play-btn2 {
    top: 50%;
    left: 40% !important;
  }


  // Back to TopUp Starts
  #backtotopup {
	width: 40px;
	height: 40px;
	&::after {
    position: absolute;
    top: -5%;
    right: 30%;
		font-size: 1.2em;
	}
  }
  // Back to TopUp Ends
}
@media (max-width: 767px) {

  // All Heading titles Ends
  .mt8 {
    margin-top: 6px;
  }

  .mt10 {
    margin-top: 8px;
  }

  .mt16 {
    margin-top: 10px;
  }

  .mt20 {
    margin-top: 15px;
  }

  .mt28 {
    margin-top: 18px;
  }

  .mt30 {
    margin-top: 20px;
  }

  .mt40 {
    margin-top: 25px;
  }

  .mt50 {
    margin-top: 30px;
  }

  .mt60 {
    margin-top: 35px;
  }

  .mt70 {
    margin-top: 45px;
  }

  .mb10 {
    margin-bottom: 8px;
  }

  .mb16 {
    margin-bottom: 10px;
  }

  .mb20 {
    margin-bottom: 15px;
  }

  .mb28 {
    margin-bottom: 18px;
  }

  .mb30 {
    margin-bottom: 20px;
  }

  .mb40 {
    margin-bottom: 25px;
  }

  .mb50 {
    margin-bottom: 30px;
  }

  .mb60 {
    margin-bottom: 35px;
  }

  .mb70 {
    margin-bottom: 45px;
  }
}

@media (max-width: 575px) {
  // .gape {
  //   row-gap: 16px;
  // }
  //section padding margin  ends
  //typography
  .display1 {
    font-size: 64px;
    line-height: 120%;
  }

  .display2 {
    font-size: 56px;
    line-height: 120%;
  }

  .display3 {
    font-size: 48px;
    line-height: 120%;
  }

  .display4 {
    font-size: 40px;
    line-height: 120%;
  }

  .fs-one,
  h1,
  h1>a {
    font-size: 32px;

  }

  .fs-two,
  h2,
  h2>a {
    font-size: 24px;

  }

  .fs-three,
  h3,
  h3>a {
    font-size: 20px;

  }

  .fs-four,
  h4,
  h4>a {
    font-size: 16px;
  }

  .fs-five,
  h5,
  h5>a {
    font-size: 15px;
  }

  .fs-six,
  h6,
  h6>a {
    font-size: 14px;
  }

  p {
    font-size: 14px;
  }

  a {
    font-size: 14px;
  }

  .f24 {
    font-size: 16px;
  }

  .f20 {
    font-size: 15px;
  }

  .f18 {
    font-size: 15px;
  }

  span {
    font-size: 14px;
  }

  // Section Paddings

  .padding-top {
    padding-top: 50px;
  }

  .padding-bottom {
    padding-bottom: 50px;
  }

  .padding-top-bottom {
    padding: 50px 0px;
  }

  .pd-hero-top {
    padding-top: 60px;
  }
  .pd60{
    padding: 30px 20px;
  }
  .button-header{
    padding: 8px 16px;
  }
  .button1 {
    padding: 8px 16px;
  }
  .button2 {
    padding: 8px 16px;
  }
  .button3 {
    padding: 8px 16px;
  }
}

@media (max-width: 480px) {}