// Responsive Starts
@media (max-width: 1799px) {}

@media (max-width: 1699px) {}

@media (max-width: 1599px) {}

@media (max-width: 1499px) {}

@media (max-width: 1399px) {}

@media (max-width: 1199px) {}

@media (max-width: 991px) {

    // Navbar Area Starts
    .navbar {
        .logo-sm {
            img {
                width: 80%;
            }
        }

        &__menu {
            position: absolute;
            top: 100%;
            right: -100%;
            width: 280px;
            min-height: calc(100vh - 78px);
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 1rem;
            padding: 0 1rem 2rem 1rem;
            transition: all 0.5s ease;

            &.right-open {
                right: 0;
                background-color: white;
            }
        }

        &__list {
            flex-direction: column;
            flex-grow: 0;
            gap: 1rem;

            &-drop {

                &-menu {
                    display: none;
                    position: inherit;
                    background-color: transparent;
                    box-shadow: none;
                    padding: 0.5rem 1rem;
                    gap: 0.5rem;

                    li {
                        margin-bottom: 5px !important;
                    }

                    &.open {
                        display: flex;
                    }
                }
            }
        }

        &__buttons {
            flex-direction: column;

            & a {
                color: white;
                background-color: #16A87A;
                font-weight: 500;
                transition: 0.3s ease;
                padding: 10px 20px;
                border-radius: 8px;

                &:hover {
                    color: white;
                }
            }
        }

        & .menu {
            display: block;
        }
    }

    // Navbar Area Ends
    // Hero Section Area Starts
    .left-popup {
        a {
            img {
                width: 80%;
            }
        }
    }

    // Hero Section Area Ends
    // Footer Starts
    .footer {
        .single-area {
            margin-left: 0;
        }

        &__logo {
            img {
                width: 100px;
            }
        }
    }

    // Footer Ends
}
@media (max-width: 767px) {}

@media (max-width: 575px) {
    .navbar {
        padding: 15px 30px;

        .logo-sm {
            img {
                width: 50%;
            }
        }
    }
// Footer Starts
.footer {
    &__logo {
        img {
            width: 90px;
        }
    }
}
// Footer Ends
}
@media (max-width: 480px) {}